*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100%;
    background-image: url(./images/pexels-sora-shimazaki-5926382.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.head_text{
   width:30%;
   height:100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
h1{
    color: rgb(32, 248, 4);
}

h2{
    color: white;
}
.features_heading{
    display: flex;
    max-width: 100%;
    height:100px;
    background-color: #343333;

    justify-content: center;
    align-items: center;
}

.features_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
}

.feature_item{
    width:30%;
    /* height: 60vh; */
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.feature_item:hover{
    transform: scaleX(1.01);
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}
.feature_item h4{
    margin-top:12px;
    
}
.feature_item p{
    margin-bottom:12px;
}
.feature_item img{
    width:100%;
}
.aboutme{
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(146, 133, 118);
}
.itam1{
    width:45%;
    display: flex;
    flex-direction: column;
}
footer{
    text-align:center;
    background-color: black;
    color: white;
}
footer a{
    text-decoration:none;
    color: White;
}
footer a:hover{
color: red;
cursor: pointer;
}
.head_text h4{
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

@media (max-width:768px){
    .features_container{
        min-height:120vh;
        margin:auto 0px;
    }
    .itam1 {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
    }
    .aboutme{
        height:150px;
    }
}
@media (max-width:426px){
    .features_container{
       flex-direction: column;
       height:300vh;

    }
    .feature_item{
        width:80%;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items:end;
    }
    .head_text{
        width:60%;
    }
   
    
  
}